@import "tailwindcss";

:root {
  --background-primary: #121212;
  --background-secondary: #1e1e1e;
  --background-tertiary: #2a2a2a;
  --border-color: #333333;
  --text-primary: #e0e0e0;
  --text-secondary: #a0a0a0;
  --accent-color: #00f2ff;
  --accent-color-dark: #00a9b3;
  --state-armed: #ff4d4d;
  --state-disarmed: #43b581;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}
